@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-root-teal: theme("colors.rootTeal");
}
.poppins-font-medium {
  font-family: "Poppins-Medium", sans-serif;
}

.poppins-font-bold {
  font-family: "Poppins-Bold", sans-serif;
}

.poppins-font-semibold {
  font-family: "Poppins-SemiBold", sans-serif;
}
.poppins-font-regular {
  font-family: "Poppins-Regular", sans-serif;
}
